[loggers]
keys = root

[handlers]
keys = stream_handler,file_handler

[formatters]
keys = file_formatter,console_formatter

[logger_root]
level = DEBUG
handlers = stream_handler,file_handler

[handler_stream_handler]
class = StreamHandler
level = INFO
formatter = console_formatter
args = (sys.stderr,)

[handler_file_handler]
class = handlers.RotatingFileHandler
level = DEBUG
maxBytes = 2097152
backupCount = 10
formatter = file_formatter

[formatter_file_formatter]
format = %(asctime)s %(threadName)s %(name)-12s %(levelname)-8s %(message)s
datefmt = %Y %b %d %H:%M:%S

[formatter_console_formatter]
format = %(levelname)-8s %(message)s